/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    box-sizing: border-box;
}
/*menu*/
#logo{
    height: 150px;
    float:left;
    position: relative;
    top:-50px;
}
#menu{
    height: 100px;
    background-color:#e7f6fc;
    
 
}
.menu{
    display: inline-block;
   position: relative;
  
   width: 8%;
   top:40px;
   left:480px;

 
}
.menu a{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.menu a:hover{
    text-decoration: none;
   text-shadow:5px 5px 10px blue;
}
/*slideshow*/
.slide{
    width: 100%;
    height: 100%;
   
    position:relative;
    top: -65px;
}
/*reservation form*/

#reservation label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
 box-sizing: border-box;
}

#reservation legend{
    margin-left:5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
}
#hotels{
    width:60%;
    box-sizing: border-box;
    float:right;
}
#reservation{
    width:20%;
    float:left;
    box-sizing: border-box;
    position:relative;
    top:-35px;
    background-color: #2c4162;
    margin-left: 15px;
    border-radius: 15px;
}
#reservation label,#reservation input{
    margin-left: 15px;
     box-sizing: border-box;
}
#reservation div{
    float: left;
    margin-right: 5px;
     box-sizing: border-box;
}
#reservation select{
    width:40px;
    margin-left: 15px;
     box-sizing: border-box;
}
#reserve{
    clear: left;
    padding:15px;
    margin-left:55px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #89cee9;
    border-radius: 5px;
    font-weight: bold;
    color:white;
    font-size: 1em;
    
    
}
#reserve:hover{
    background-color: #00aef0;
}
/*sign up form*/
.signup, .cancel, .login{
    background-color: #0055BD;
    color: white;
    cursor: pointer;
    width: 50%;
    float: left;
    margin: 10px 0px;
    padding: 15px ;
    border-radius: 5px;
    border: none;
}
.signUpForm, .logInForm{
    padding: 10px;
}
.window{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 10px;
    z-index: 1;
}
#signUpLogo{
    float: right;
}
#signUp h3, #login h3{
    text-align: center;
}
.modal-content{
    background-color: white;
    width: 70%;
    border: 1px solid blue;
    margin: 0% auto 15% auto;
    
}
.close{
    position: absolute;
    color: black;
    font-size: 40px;
    top:15px;
    right: 35px;
    font-weight: bold;

}

.clear::after{
    content: "";
    clear: both;
    display: table;
}

/*about us section*/

#aboutUs{
    clear: left;
    overflow: hidden;
    padding:10px;
    border: 10px;
    border-top-style: solid;
    border-color: lightgray;
    border-width: 1px;
}

.text{
    float: left;
    width: 50%;
}
#aui{
    margin-top: 70px;
    display: inline-block;
    float: right;
    width: 50%;
}
/*contact us section*/
input[type=submit]{
    background-color: #0055BD;
    color:white;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}
input[type=submit]:hover
{
background-color: #6D9ED9;
}
textarea[name=message]{
    resize: none;
}
#info
{
    background-color: #e7f6fc;
    overflow: hidden;
    padding: 20px;
    
}

.contact
{
    display: inline-block;
}
.address{
    float: right;
    display: inline-block;
   
}
.contact label[for="email"]
{
display: inline;
}
.fa.fa-home, .fa.fa-map-marker, .fa.fa-phone-square{
    font-size:30px;
    color: #0055BD;
}
/*footer*/
footer{
    background-color: #0055BD;
    overflow: hidden;
   
}
.socialIcons{
    float: left;
    margin-top: 17px;
    margin-left: 50px;
}
footer p{
    color: white;
}
.fa.fa-facebook-official, .fa.fa-twitter, .fa.fa-instagram, .fa.fa-skype,.fa.fa-google-plus{
    font-size:30px;
    color: white;
}
.fa.fa-facebook-official:hover, .fa.fa-twitter:hover, .fa.fa-instagram:hover, .fa.fa-skype:hover,.fa.fa-google-plus:hover{
    cursor: pointer;
    color: black;
}
.subscribe
{
    float: right;
    margin-right: 50px;
    margin-top:17px;
}
.rights{
    text-align: center;
    margin-top: 90px;
}

