/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end*/

.slide{
    width: 100%;
    height: 100%;
    
    
}
nav{
    float: right;
}
.menu{
    list-style-type: none;
    display: inline;
    text-align: right;
   padding: 1em;
   
}

li>a{
    text-decoration: none;
    padding: 15px;
    margin: -4px;
}
li>a:link{
    background: #81B9E7;
    color:black;
}
li>a:hover{
    background: #E3F1FD;
    color:black;
}


footer{
    background-color: #0055BD;
    overflow: hidden;
   
}
.socialIcons{
    float: left;
    margin-top: 17px;
    margin-left: 50px;
}
footer p{
    color: white;
}
.fa.fa-facebook-official, .fa.fa-twitter, .fa.fa-instagram, .fa.fa-skype,.fa.fa-google-plus{
    font-size:30px;
    color: white;
}
.fa.fa-facebook-official:hover, .fa.fa-twitter:hover, .fa.fa-instagram:hover, .fa.fa-skype:hover,.fa.fa-google-plus:hover{
    cursor: pointer;
    color: black;
}
.subscribe
{
    float: right;
    margin-right: 50px;
    margin-top:17px;
}
.rights{
    text-align: center;
    margin-top: 90px;
}
input[type=submit]{
    background-color: white;
    color:#0055BD;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}
